<div style="overflow:hidden; position:absolute; left:0; top:0; width:50px; height:25px;">
  <div style="margin-top:-290px;">
  <object width="420" height="315">
    <param name="movie" value="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2">
    <param name="allowFullScreen" value="true">
    <param name="allowscriptaccess" value="always">
    <embed src="https://www.youtube.com/v/EjMNNpIksaI?version=3&amp;hl=en_US&autoplay=1&amp;autohide=2" type="application/x-shockwave-flash" width="420" height="315" allowscriptaccess="always" allowfullscreen="true">
  </object>
  </div>
</div>

<p id="start">A short time ago in a browser very, very close&hellip;</p>

<h1>STAR WARS<sub> CARACHTERS CATALOGUE</sub></h1>

<div id="titles">
  <div id="titlecontent">

    <p class="center">EPISODE IV<br> A NEW CARACHTERS CATALOGUE</p>

    <p class="center">It is a period of war.</p>

    <p class="center">Vai Corinthians!</p>

    <p>It is a Single Page Application which shows some informations about this wondeful film series.</p>

    <p>It was built with Angular and the data are consumed through SWAPI (http://swapi.co/).</p>
    
    <p class="center">May the force be with you and view the source, Luke!</p>
    </div>
</div>